:root {
  --primary-color: #47c9e5;
  --primary-radius: 6px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: #1F2667;
  background: linear-gradient(to top right, #fff, var(--primary-color));
  font-family: Nunito, Arial, sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  font-style: normal;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

h1 {
  color: white;
  font-size: 3rem;
}

.f1rem {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.github-logo:hover .arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

.masthead {
  padding: 1em;
  margin-bottom: 2rem;
  z-index: 1;
}

.masthead-brand {
  margin-bottom: 2rem;
  display: flex;
}

.masthead-brand svg {
  width: 56px;
  height: 56px;
  border-radius: 9px;
  margin-right: 1rem;
  background-color: #fff;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, .8);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(255, 255, 255, 1);
}

.main {
  position: relative;
  background: linear-gradient(to top, #f2f6fc 0, #fefeff 100%);
  border-radius: 2em;
  margin: auto;
}

.default-hovered {
  background-color: #f2f6fc;
  border-bottom: 2px dashed #fefeff;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.main-top {
  padding: 20px 0;
  border-radius: 2em 2em 0 0;
  height: 70px;
}

.animated-text h4 {
  position: absolute;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.animated-text h4+h4 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

.animated-text:hover h4 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(.85);
  -moz-transform: scale(.85);
  transform: scale(.85);
}

.animated-text:hover h4+h4 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.default-hovered:hover {
  background-color: white;
  border-bottom: 2px dashed #f2f6fc;
}

.sidebar {
  padding-top: 3rem;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  position: relative;
}

.sidebar ul.nav li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.sidebar ul li label {
  color: #1F2667;
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
  border-radius: var(--primary-radius);
  box-shadow: rgba(0, 0, 0, 0.05) 0 8px 16px 0;
  background-color: white;
  width: 170px;
  text-align: right;
  font-weight: bold;
  overflow: hidden;
}

.sidebar ul.text-left li label {
  text-align: left;
}

.sidebar ul li label input {
  display: none;
}

.sidebar ul li label span {
  display: block;
  padding: 0.75em 1em;
}

.sidebar ul li label input:checked+span,
.sidebar ul.but li label input:checked+span,
.sidebar ul li.check label input:checked+span {
  background: linear-gradient(25deg, rgba(0, 188, 212, 1) 0%, rgba(51, 105, 231, 1) 100%);
  border-radius: inherit;
  color: white;
}

.sidebar ul.but li label input:checked+span,
.sidebar ul li.check label input:checked+span {
  background: linear-gradient(25deg, rgba(73, 221, 216, 1) 0%, rgba(25, 226, 115, 1) 100%);
}

.sidebar ul li label input.brotate:checked+span {
  background: linear-gradient(45deg, rgba(25, 226, 115, 1) 0%, rgba(73, 221, 216, 1) 100%);
}

#bSm {
  position: relative !important;
  display: flex;
  margin: 0 auto;
  min-width: 225px;
  min-height: 250px;
  border-radius: 8px;
  padding: 25px 7px;
  will-change: transform, box-shadow;
}

.display {
  background: linear-gradient(45deg, #e5ebf2, #f2f6fa);
  border-radius: 8px;
  min-height: 185px;
  width: 100%;
  padding: 15px;
  text-align: left;
}

#bSm.iSmallCircle .btn_top:before {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  top: 13px;
  width: 13px;
  height: 13px;
  background: linear-gradient(45deg, #e5ebf2, #f2f6fa);
  border-radius: 50%;
  box-shadow: inset 2px 1px 0 rgba(51, 51, 51, 0.1);
}

#bSm.iTopLine .btn_top:after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  top: 13px;
  width: 60px;
  height: 8px;
  background: linear-gradient(45deg, #e5ebf2, #f2f6fa);
  border-radius: var(--primary-radius);
  box-shadow: inset 2px 1px 0 rgba(51, 51, 51, 0.1);
}

#bSm.iSmallCircle.iTopLine .btn_top:before {
  margin-left: -50px;
  width: 8px;
  height: 8px;
}

#bSm.iSmallLine .btn_bottom:after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  width: 50px;
  height: 20px;
  background: linear-gradient(45deg, rgba(229, 235, 242, 0.3), rgba(242, 246, 250, 0.1));
  border: 1px solid #e5ebf2;
  border-radius: var(--primary-radius);
  box-shadow: inset -2px 1px 0 rgba(51, 51, 51, 0.1);
}

#bSm.iBigLine .btn_bottom:after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  width: 70px;
  height: 20px;
  background: linear-gradient(45deg, rgba(229, 235, 242, 0.3), rgba(242, 246, 250, 0.1));
  border: 1px solid #e5ebf2;
  border-radius: 3rem;
  box-shadow: inset -2px 1px 3px rgba(51, 51, 51, 0.1), 0px 0px 1px rgba(145, 161, 181, 0.3);
}

#bSm.iBigCircle .btn_bottom:after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;
  width: 35px;
  height: 35px;
  background: linear-gradient(45deg, rgba(229, 235, 242, 0.3), rgba(242, 246, 250, 0.1));
  border: 2px solid #e5ebf2;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px rgba(51, 51, 51, 0.1);
}

#bSm.ilandscape.iSmallCircle .btn_top:before,
#bSm.ilandscape.iTopLine .btn_top:after {
  position: absolute;
  content: '';
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

#bSm.ilandscape.iSmallCircle.iTopLine .btn_top:before {
  margin-left: 0;
  margin-top: 50px;
}

#bSm.ilandscape.iSmallLine .btn_bottom:after,
#bSm.ilandscape.iBigLine .btn_bottom:after,
#bSm.ilandscape.iBigCircle .btn_bottom:after  {
  position: absolute;
  content: '';
  left: auto;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3em;
}

#bSm.ilandscape.iTopLine .btn_top:after {
  width: 6px;
  height: 50px;
}

#bSm.ilandscape.iSmallLine .btn_bottom:after {
  width: 20px;
  height: 50px;
}

#bSm.ilandscape.iBigLine .btn_bottom:after {
  width: 20px;
  height: 70px;
}

#bSm.iSmallCircle,
#bSm.iTopLine {
  padding-top: 35px !important;
}

#bSm.iSmallLine,
#bSm.iBigLine {
  padding-bottom: 38px !important;
}

#bSm.iBigCircle {
  padding-bottom: 60px !important;
}

#bSm.ilandscape.iSmallCircle,
#bSm.ilandscape.iTopLine,
#bSm.ilandscape.iSmallLine,
#bSm.ilandscape.iBigLine,
#bSm.ilandscape.iBigCircle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

#bSm.ilandscape.iSmallCircle,
#bSm.ilandscape.iTopLine {
  padding-left: 35px !important;
}

#bSm.ilandscape.iSmallLine,
#bSm.ilandscape.iBigLine {
  padding-right: 38px !important;
}

#bSm.ilandscape.iBigCircle {
  padding-right: 55px !important;
}

.bsdisplay {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: url('//madeas.github.io/box-shadows/device/img/rotate_cursor.png'), auto;
  text-align: left;
  z-index: 9;
}

.bsdisplay input {
  display: none;
}

.bSd {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.bSd div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bSd .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.bsdisplay:hover .bSd {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
  box-shadow: 0 20px 20px rgba(50, 50, 50, .2);
}

.bsdisplay :checked+.bSd {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.bsdisplay:hover :checked+.bSd {
  transform: rotateY(160deg);
  -webkit-transform: rotateY(160deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, .2);
}

.back {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  background-color: inherit !important;
  box-shadow: inherit;
}

.back:before {
  position: absolute;
  content: '';
  width: 12%;
  height: 50px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  background: linear-gradient(45deg, #e5ebf2, #f2f6fa);
  border-radius: 10px;
  box-shadow: rgb(255, 255, 255) -2px -2px 10px 1px inset, rgba(173, 186, 204, 0.25) 2px -3px 1px 1px inset, rgba(0, 21, 64, 0.5) 0px 1px 4px 1px inset;
}

.back:after {
  position: absolute;
  content: 'MADEAS';
  width: 100%;
  text-align: center;
  top: 5em;
  left: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff6c9;
  text-shadow: 0 1px 2px rgba(62, 57, 107, 0.18);
}

#bSm.ilandscape .back:before {
  width: 50px;
  height: 12%;
  top: 50%;
  right: 40px;
  left: auto;
  transform: translateY(-50%);
}

#bSm.ilandscape .back:after,
#bSm.ilandscape .back span {
  transform: translateY(-50%) rotate(90deg);
  width: auto;
  top: 50%;
  left: auto;
  right: 5em;
}

#bSm.ilandscape .back span {
  right: auto;
  bottom: auto;
  left: 30px;
}

.back span {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(255, 246, 201, 0.18);
  font-size: 0.825rem;
}

#bSm.utilThree .display {
  background: inherit;
}

#bSm.utilThree:before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border: 40px solid rgba(254, 254, 254, 0.9);
  background: inherit;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

#bSm.utilThree:after {
  display: none;
}

.choiseButton+span {
  color: #15a51a;
}

.choiseButton:checked+span {
  color: #a51515;
}

.choiseButton+span:before {
  margin-right: 8px;
}

.choiseButton.dis+span:before {
  content: 'Add Display';
}

.choiseButton.dis:checked+span:before {
  content: 'Remove Display';
}

.choiseButton.typstop+span:before {
  content: 'Stop Text';
}

.choiseButton.typstop:checked+span:before {
  content: 'Play Text';
}

.choiseButton.typdest:checked+span:before {
  content: 'Reset Text';
}

.choiseButton.typdest+span:before {
  content: 'Remove Text';
}

.brotate+span svg {
  fill: #15a51a;
  transform: rotate(45deg);
}

.sidebar ul li label input:checked+span svg {
  fill: #ffffff;
}

.brotate:checked+span svg {
  fill: #ffffff;
  transform: rotate(-45deg);
}

button.gen {
  color: #fff;
  cursor: pointer;
  background: #8ec5fc;
  background-image: linear-gradient(73deg, #8ec5fc, #47c9e5);
  border: 0;
  -webkit-border-radius: var(--primary-radius);
  -moz-border-radius: var(--primary-radius);
  border-radius: var(--primary-radius);
  font-size: 1.2rem;
  padding: 0.75em 1.752em;
  transition: all .3s ease-out;
}

button.gen:hover {
  transform: scale(1.2);
}

button.gen:focus {
  outline: none;
}

.choose {
  font-weight: bold;
  cursor: text !important;
}

#form_code {
  border: 2px solid #f5f5f5;
  background-color: #fff;
  border-radius: 6px;
  margin: 0;
  padding: 16px 19px;
  overflow: hidden;
  color: #5d5d5d;
  width: 100%;
}

#choose,
#form_code {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  outline: none;
}

#bg_choose {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 36px;
  height: 36px;
  display: block !important;
  border: 0;
  background-color: transparent;
  outline: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

#bg_choose:focus {
  outline: none;
}

#bg_choose:before {
  position: absolute;
  content: '';
  border-radius: 50%;
  border: 12px solid #fff;
  width: 48px;
  height: 48px;
  top: -5px;
  left: -8px;
}

.custom-textarea {
  min-height: 500px;
  height: auto;
  overflow-y: scroll;
  padding: 5px;
  resize: none;
}

#add_issue {
  width: 32px;
  height: 32px;
  cursor: pointer;
  fill: #ddd;
}

#add_issue:hover {
  fill: #777;
}

.uSocial-Share .uscl-bar.uscl-right .uscl-slide-open {
  bottom: 25px !important;
  right: 2px !important;
}

.uSocial-Share .uscl-slide-open,
.uSocial-Share .uscl-slide-open:hover {
  background-color: transparent !important;
}

.uSocial-Share .uscl-slide-open {
  -webkit-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}

.ico_uscl-like:before {
  content: "\e900" !important;
  color: #bcc3c7 !important;
  font-size: 22px !important;
}

button.disabled {
  color: rgba(0, 0, 0, .3);
  background-color: transparent;
  border: 0;
  pointer-events: none;
  font-weight: bold;
}

button.disabled:focus {
  outline: none;
}

.adstl {
  cursor: text !important;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.06);
  border: 1px solid #f7f7f7;
  border-radius: var(--primary-radius);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.07), 0 1px rgba(255, 255, 255, 0.06) !important;
}

.adstl,
.lab_adstl {
  width: 100%;
}

.lab_adstl {
  position: relative;
}

.lab_adstl i {
  position: absolute;
  will-change: transform, opacity;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  top: calc(100% + 30px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.825rem;
  padding: 0.75rem 1rem;
  background: #fff;
  border-radius: var(--primary-radius);
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  font-style: normal;
  z-index: 10;
}

.lab_adstl:hover i {
  opacity: 1;
  -webkit-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
}

#typed {
  white-space: pre;
  font-size: 1rem;
  color: inherit;
}

#typed pre {
  font-size: 0.825rem;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

.typed-fade-out {
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p,
footer a {
  color: #1F2667;
}

.ui-widget-content {
  position: relative;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  transition: none;
  z-index: 8;
}

.ui-widget-content:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.get_collapse {
  background-color: white;
  background-image: linear-gradient(45deg, rgb(113, 237, 175), rgb(117, 176, 239));
  border: 0;
  border-radius: var(--primary-radius);
  box-shadow: rgba(0, 0, 0, 0.05) 0 8px 16px 0;
  color: white;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  padding: 0.75em 1em;
  width: 170px;
}

.back_style .card {
  border: 0;
  border-radius: var(--primary-radius);
}

.back_style .sticker {
  opacity: 0;
  visibility: hidden;
}

.back_style:hover .sticker {
  opacity: 1;
  visibility: visible;
  background-color: white;
  border-radius: var(--primary-radius);
  box-shadow: rgba(0, 0, 0, 0.05) 0 8px 16px 0;
  padding: .375rem .75rem;
  margin-left: 2rem;
}

.back_style input {
  padding: .375rem .75rem;
}

.back_style .get_collapse,
.back_style input:focus {
  outline: none;
}

.back_style .bsize {
  width: 85px;
}

.back_style .bradio > li > input {
  display: none;
}

.back_style .bradio > li > label {
  position: relative;
  padding: 0 0 0 34px;
  cursor: pointer;
}

.back_style .bradio > li > label:after,
.back_style .bradio > li > label:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.back_style .bradio > li > label:before {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  content: '';
  background-color: rgb(71, 201, 229);
  border: 6px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: transform .15s ease;
  transition: transform .15s ease;
  transform: scale(0);
  -webkit-transform: scale(0);
}

.back_style .bradio > li > label:after {
  content: '';
  margin: 0;
  border: 2px solid #cfcfd0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
}

.back_style .bradio > li > input:checked+label:before {
  transform: scale(1);
  -webkit-transform: scale(1);
}

.back_style .bradio > li > input:checked+label:after {
  border-color: rgb(71, 201, 229);
}

.back_style .bradio > li > label#bnoradio {
  padding:0;
}

.back_style .bradio > li > label#bnoradio:before,
.back_style .bradio > li > label#bnoradio:after {
  display: none;
}

.back_style .bradio > li.bsckeck > label:before,
.back_style .bradio > li.bsckeck > label:after {  
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.back_style input#bgImage {
  max-width: 245px;
}

.dfrowcol {
  display: flex;
  flex-direction: column;
}

@media (max-width:991px) {
  .sidebar-left ul {
    display: inline-block;
  }
  .adstl,
  .lab_adstl {
    width: 92%;
  }
  .sidebar ul li label {
    width: 140px;
  }
  .w991n {
    display: none;
  }
  .dfrowcol {
		flex-direction: row;
	}
}

 @media (min-width:991px) {
  .sidebar ul li label.mw991 {
    width: auto;
  }
}

@media (max-width:768px) {
  .masthead-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .masthead-brand h1 {
    padding-top: 15px;
  }
  .back_style:hover .sticker {
    display: none;
  }
}

@media (max-width:575px) {
  .main,
  .main-top {
    border-radius: 0;
  }
}

@media (max-width:500px) {
  .github-logo:hover .arm {
    animation: none;
  }
  h4 {
    font-size: 1.25rem;
  }
}
